<div class="card" style="width: 18rem;" id="curso1">
  <img class="card-img-top" src="curso.png" alt="Card image cap">
  <div class="card-body">
      <h5 class="card-title">Titulo del curso</h5>
      <p class="card-text">Descripcion</p>
  </div>
</div>


<div class="card" style="width: 18rem;" id="curso2">
      <img class="card-img-top" src="curso.png" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Titulo del curso</h5>
          <p class="card-text">Descripcion</p>
      </div>
    </div>
    <br>
    <br>
    
        <div class="card" style="width: 18rem;" id="curso3">
            <img class="card-img-top" src="curso.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Titulo del curso</h5>
                <p class="card-text">Descripcion</p>
            </div>
          </div>
